.hero-image  {
    background-image: url("./crimages/hero-image-byGooglePlay.jpg");
    height: 1280px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
}

.hero-text  {
    text-align: center;
    font-size: 70px;
    margin-top: 170px;
    margin-bottom: auto;
    color: #ffd700;
    font-family: 'Oswald';
}

.blue  {
    background: linear-gradient(to bottom, #325DD5, #264DBC, #1A3DA3);
    overflow: hidden;
}

.sub  {
    text-align: center;
    color: #ffd700;
    font-family: 'Poiret One';
    font-size: xx-large;
    margin-top: 1000px;
    margin-bottom: 20px;
}

.sites  {
    text-align: center;
    font-size: 70px;
    margin-bottom: auto;
    background: linear-gradient(to right, #271DA9, #271DA9, #DC2626, #DC2626);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-family: 'Oswald';
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 40px;
}
  
.logo {
    width: 240px;
}
  
.officialsite {
    background: transparent;
    font-size: 20px;
    color: #271DA9;
    font-family: 'Bungee';
    text-decoration: none;
    margin-top: 10px;
}
  

.helpful-sites  {
    background: linear-gradient(to bottom, #F3E8D6, #FFD700, #F5E380);
    overflow: hidden;
}