.hero-image  {
    background-image: url("./crimages/hero-image-byGooglePlay.jpg");
    height: 1280px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
}

.hero-text  {
    text-align: center;
    font-size: 70px;
    margin-top: 170px;
    margin-bottom: auto;
    color: #ffd700;
    font-family: 'Oswald';
}

.blue  {
    background: linear-gradient(to bottom, #325DD5 33%, #264DBC 65%, #1A3DA3 100%);
    overflow: hidden;
}

.sub  {
    text-align: center;
    color: #ffd700;
    font-family: 'Poiret One';
    font-size: xx-large;
    margin-top: 1000px;
    margin-bottom: 20px;
}

.title  {
    text-align: center;
    font-size: 70px;
    margin-bottom: auto;
    background: linear-gradient(to right, #271DA9 47%, #DC2626 53%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-family: 'Oswald';
}


.sites-wrapper  {
    display: flex;
    justify-content: space-between;
    align-items: flex-start
}

.logo-container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-left: 300px;
}

.logo-container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-right: 300px;
}
  
.logo {
    margin-top: 20px;
    width: 240px;
}
  
.links {
    font-size: 20px;
    font-family: 'Bungee';
    margin-top: 5px;
    display: inline-block;
    background: #325DD5;
    color: #FFD700;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
}


  

.sites-and-info  {
    background: linear-gradient(to bottom, #F3E8D6 15%, #FFD700 38%, #F5E380 100%);
    overflow: hidden;
}